#ignoring user profile pictures
dev/SEP/pollster/profilePics/*.jpg
.vscode/launch.json
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
nbproject/private/private.xml
dev/SEP/pHp/response.php
