/* navbar */
.navbar-default {
    background-color: #a10022;
    border-color: #a10022;
    border-radius: 0 !important;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #a32244;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #a32244;
}

/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #a10022;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #a32244;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.logo{
    position: absolute;
    left:50%;
    margin-left: -24px !important;
    display: block;
}