html, body{
    height: 100%;
}

#pLoginBody{
    background-image: url(../graphics/EWU_seal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom; /*optional to center image*/
}

#secondContent{
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    background-color:rgb(110,109,113);
}

#loginPanel{
    border:solid; 
    background-color:white;
}

#headerRow{
    border-bottom: solid;
    border-color: darkred;
}

#buttonSubmit{
    background-color: darkred; 
    border:solid; border-width:.50px; 
    border-color:black
}

#headerEWU{
    width:100%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(167,25,51); 
    color: darkred;
}

#forgotPword{
    color: rgb(167,25,51);
}