html, body{
    height: 100%;
}

#pLoginBody{
    background-image: url(../graphics/EWU_seal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom; /*optional to center image*/
}

#secondContent{
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    background-color:rgb(110,109,113);
}

#loginPanel{
    border:solid; 
    background-color:white;
}

#headerRow{
    border-bottom: solid;
    border-color: #a10022;
}

#buttonSubmit{
    background-color: #a10022; 
    border:solid; border-width:.50px; 
    border-color:black
}

#headerEWU{
    width:100%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #a10022; 
    color: #a10022;
}

#forgotPword{
    color: #a10022;
}
 
/* navbar */
.navbar-default {
    background-color: #a10022;
    border-color: #a10022;
    border-radius: 0 !important;
    height: 60px;
    padding-top: 5px;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #a32244;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #a32244;
}

/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #a10022;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #a32244;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.logo,
.logo:hover,
.logo:focus{
    position: absolute;
    left:50%;
    margin-left: -24px !important;
    display: block;
    color: #a10022;
}

.btn-primary,
.btn-primary:focus{
    background-color: #a10022;
    border: none;
    border-radius: 0 !important;
}

.btn-primary:hover{
    background-color: #a32244;
}

.form-centered{
    width: 60%;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.form-centered > legend{
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

.form-control{
    border-radius: 0 !important;
}

.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 12pt;
    font-family: Arial;
    width: 100%;
    height: 50px;
    background-color: #e0e0e0;
}